{
   "bip":"{{ dockerNetwork }}",
  "insecure-registries" : ["http://{{registryUrl}}:{{registryPort}}","http://{{registryUrl}}:{{registryProxyPort}}","http://{{registryUrl}}:5000"],
   "graph": "{{ dockerDaemonDataDir }}",
   "registry-mirrors":["http://{{mirrorUrl}}:{{mirrorPort}}","http://{{mirrorUrl}}:{{mirrorProxyPort}}","http://{{mirrorUrl}}"]
}