version: '2'
services:

  repositorio:
    image: rancher/external-service
  repo-lb:
    image: rancher/lb-service-haproxy:v0.7.15
    ports:
    - '{{repoExtLbPort}}:{{repoExtLbPort}}'
    labels:
      traefik.frontend.rule: Host:{{repoUrl}}
      io.rancher.container.agent.role: environmentAdmin,agent
      io.rancher.container.agent_service.drain_provider: 'true'
      traefik.enable: 'true'
      traefik.port: '{{repoExtLbPort}}'
      io.rancher.container.create_agent: 'true'
      io.rancher.scheduler.affinity:host_label: dns_geral=true

  masterui:
    image: rancher/external-service 
  masterlb:
    image: rancher/lb-service-haproxy:v0.7.15
    ports:
    - '{{masterlbPort}}:{{masterlbPort}}'
    labels:
      io.rancher.container.agent.role: environmentAdmin,agent
      io.rancher.container.agent_service.drain_provider: 'true'
      traefik.frontend.rule: Host:{{master1Url}}
      traefik.enable: 'true'
      traefik.port: '{{masterlbPort}}'
      io.rancher.container.create_agent: 'true'
      io.rancher.scheduler.affinity:host_label: dns_geral=true


  sidopsui:
    image: rancher/external-service 
  sidopslb:
    image: rancher/lb-service-haproxy:v0.7.15
    ports:
    - '{{sidopslbPort}}:{{sidopslbPort}}'
    labels:
      traefik.frontend.rule: Host:{{sidopsUrl}}
      traefik.enable: 'true'
      traefik.port: '{{sidopslbPort}}'
      io.rancher.container.create_agent: 'true'
      io.rancher.scheduler.affinity:host_label: dns_geral=true

  kibanaui:
    image: rancher/external-service 
  kibanalb:
    image: rancher/lb-service-haproxy:v0.7.15
    ports:
    - '{{kibanalbPort}}:{{kibanalbPort}}'
    labels:
      traefik.frontend.rule: Host:{{kibanaUrl}}
      traefik.enable: 'true'
      traefik.port: '{{kibanalbPort}}'
      io.rancher.container.create_agent: 'true'
      io.rancher.scheduler.affinity:host_label: dns_geral=true