version: '2'
services:
  traefik:
    image: rawmind/alpine-traefik:{{serviceTag}}
    environment:
      TRAEFIK_ADMIN_AUTH_METHOD: basic
      TRAEFIK_ADMIN_AUTH_USERS: ''
      TRAEFIK_ADMIN_ENABLE: 'true'
      TRAEFIK_ADMIN_READ_ONLY: 'false'
      TRAEFIK_ADMIN_STATISTICS: '10'
      TRAEFIK_HTTPS_COMPRESSION: 'true'
      TRAEFIK_HTTPS_ENABLE: 'false'
      TRAEFIK_HTTPS_PORT: '443'
      TRAEFIK_HTTP_COMPRESSION: 'true'
      TRAEFIK_HTTP_PORT: '80'
      TRAEFIK_INSECURE_SKIP: 'false'
      TRAEFIK_RANCHER_ENABLE: 'true'
      TRAEFIK_RANCHER_MODE: metadata
    ports:
    - 80:80/tcp
    - 443:443/tcp
    labels:
      traefik.frontend.rule: Host:traefik.{{defaultDomain}}
      traefik.enable: 'true'
      io.rancher.scheduler.affinity:host_label: dns_geral=true
      traefik.port: '8000'
      io.rancher.container.hostname_override: container_name
      io.rancher.scheduler.global: 'true'